/* 1) Universal selector */
* { box-sizing: border-box; }

/* 2) Body */
body {
  background-color: #00005D;
  font-family: Verdana, Arial, sans-serif;
}

/* 3) Wrapper */
#wrapper {
  margin: 0 auto;
  width: 80%;
  min-width: 960px;
  max-width: 1200px;
  background-color: #B3C7E6;
  color: #000066;
}

/* 4) Header */
header {
  background-color: #869DC7;
  color: #00005D;
  font-size: 150%;
  padding: 10px 10px 10px 155px;
  background-repeat: no-repeat;
  background-image: url(lightlogo.jpg);
}

/* 5) Nav */
nav {
  float: right;
  width: 200px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

/* 6) Main */
main {
  background-color: #FFFFFF;
  color: #000000;
  padding: 10px 20px;
  overflow: auto;
  display: block;
}

/* 7) Footer */
footer {
  font-size: 70%;
  text-align: center;
  padding: 10px;
  background-color: #869DC7;
  clear: both;
}

/* Step 3 additions */
h2 {
  color: #869DC7;
  font-family: Arial, sans-serif;
}

#floatright {
  float: right;
  margin: 10px;
}
